<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="getListUser" resultType="com.example.entity.User">
        select * from user
        <where>
            <if test="username != null">
                username like concat('%', #{username}, '%')
            </if>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>  <!-- 相当于 name like '%1%' -->
            <if test="ids != null and ids != ''">
                and id in
                <foreach collection="idsArr" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
    </select>

    <insert id="addUser" parameterType="com.example.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="username != null">
                username,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="role != null">
                role
            </if>
            <!-- 其他字段 -->
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="role != null">
                #{role}
            </if>
            <!-- 其他字段对应的值 -->
        </trim>
    </insert>

    <update id="update" parameterType="com.example.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email}
            </if>
            <if test="salary != null">
                salary = #{salary}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteUserById" parameterType="integer">
        delete
        from user
        where id = #{id}
    </delete>
    <select id="selectUserByName" parameterType="java.lang.String" resultType="com.example.entity.User">
        select * from user where username=#{username}
    </select>

    <select id="selectById" parameterType="integer" resultType="com.example.entity.User">
        select *
        from user
        where id = #{id}
    </select>
    <select id="selectUserById" resultType="com.example.entity.User">
        select *
        from user
        where id = #{id}
    </select>
</mapper>
